# Colection Related Data Types
* list
* tuple
* set
* frozen set
* dict
* range
* bytes
* bytearray

* [10,20,30] ----> list
* (10,20,30) ----> tuple
* {10,20,30} ----> set
* {100: "akhil"} ----> dict

# list

In [1]:
l=[10,20,30]
print(type(l))
print(l)

<class 'list'>
[10, 20, 30]

* Order is important [order is preserved]
* Duplicate objects are allowed
* [  ]
* Hetetogenous objects are allowed
* Indexing and slicing

In [2]:
l= [10, "akhil", 20, 30, 40]
print(l[0])
print(l[-1])
print(l[1:4])

10
40
['akhil', 20, 30]

In [4]:
l=[]
l.append(10)
print(l)
l.append(30)
l.append(89)
print(l)

[10]
[10, 30, 89]

In [5]:
l.remove(89)
print(l)

[10, 30]

In [6]:
l[0] = 77777
print(l)

[77777, 30]

# Important point of list

1. Order Preserved
2. Duplicate objects are allowed
3. [ ]
4. Heterogeneous objects
5. Indexing and slicing 
6. Growable in nature
7. Mutable

# Tuple

* Exactly same as list except that it is immutable.
* Read only version of list is Tuple

In [7]:
t= (10,20,30)
print(type(t))
print(t)

<class 'tuple'>
(10, 20, 30)

In [8]:
print(t[0])
print(t[-1])
print(t[1:4])

10
30
(20, 30)

In [9]:
t[0] = 7777

TypeError: 'tuple' object does not support item assignment

In [10]:
t.append(10)

AttributeError: 'tuple' object has no attribute 'append'

| list    | tuple |
| -------- | ------- |
| Mutable  | Immutable    |
| [] | ()     |
| More memory    | less memory    |
| Performance is less    | Faster access (performance is more)    |

# set

- Order is not required
- Duplicates are not allowed
- Indexig/slicing is not there
- Heterogenous objects
- Growale & Mutable

In [15]:
s={"akhil",1,2,4}
print(type(s))
print(s)

<class 'set'>
{1, 2, 'akhil', 4}

In [17]:
s={10,20,30,40}
s.add(50)
print(s)
s.remove(10)
print(s)

{40, 10, 50, 20, 30}
{40, 50, 20, 30}

| list    | set |
| -------- | ------- |
| Order is preserved  | Order is not preserved    |
| Duplicates are allowed  | Duplicates are not allowed     |
| []  | {}     |

# Frozen set

In [18]:
s={10,20,30,40}
s.add(50)
s.remove(20)
print(s)

{40, 10, 50, 30}

In [19]:
s={10,20,30,40}
fs= frozenset(s)
print(type(s))
print(type(fs))

<class 'set'>
<class 'frozenset'>

In [20]:
fs.add(60)

AttributeError: 'frozenset' object has no attribute 'add'

| tuple    | frozenset |
| -------- | ------- |
| Order is preserved  | Order is not applicable    |
| tuple duplicates are allowed  | Duplicates are not allowed  |
| Index/slice applicable  | Index/slice not applicable  |

# dict

- key-value pairs
- d = {k1:v1, k2:v2, k3:v3}

In [21]:
d={100:"akhil", 200:"sudheer", 300:"sasi"}
print(type(d))
print(d)

<class 'dict'>
{100: 'akhil', 200: 'sudheer', 300: 'sasi'}

In [22]:
d = {}
d[100] = "sasi"
d[200] = "akhil"
print(d)

{100: 'sasi', 200: 'akhil'}

In [24]:
d[100] ="siva"
print(d)

{100: 'siva', 200: 'akhil', 10: 'siva'}

# Important Key Points
- Key-Order Pairs
- Order is not applicable
- duplicate keys are not allowed,
- duplicate values are allowed.
- Heterogenous objects.
- Mutable
- Index, slicing

# Range data type

In [25]:
r= range(10)
print(type(r))
print(r)

<class 'range'>
range(0, 10)

In [27]:
for x in r:
    print(x, end=" ")

0 1 2 3 4 5 6 7 8 9

## Form -1:- range(n)
- from 0 to n-1

## Form -2:- range(begin, end)

- begin to end-1

## form -3:- range(begin, end, increment/decrement)

- r=range(1,10,1)====> 1 to 9

In [32]:
for i in range(1,21,3):
    print(i, end=" ")

1 4 7 10 13 16 19

In [31]:
for i in range(20, 1, -5):
    print(i, end=" ")

20 15 10 5

## Important points of range()
- Range object is immutable
- Sequence
- range(10)
- range(10,21)
- range(10,21,2)
- order, index, slice

## Bytes data type

1. Values only from 0 to 255
2. Immutable

In [33]:
l=[10,20,30,40]
b=bytes(l)
print(type(b))

<class 'bytes'>

In [34]:
for x in b:
    print(x)

10
20
30
40

In [35]:
l=[10,20,256]
b=bytes(l)

ValueError: bytes must be in range(0, 256)

In [37]:
l=[10,20,30,40]
b=bytes(l)
print(b[2])
b[0] =777

30

TypeError: 'bytes' object does not support item assignment

## Bytearray

- Range is 0 to 255
- Mutable

In [39]:
l=[10,20,30,40]
b= bytearray(l)
print(type(b))
for x in b:
    print(x)

<class 'bytearray'>
10
20
30
40

In [40]:
print(b[0])

10

In [41]:
b[0]= 100
for x in b:
    print(x)

100
20
30
40

- list ---> Mutable
- typle ---> Immutable
- set ----> Mutable
- frozenset -----> immutable
- dict -----> mutable
- range -----> immutable
- bytes ---> immutable
- bytearray ----> mutable

## None data type
- None means nothing no value associated.

In [42]:
a=10 
print(a)
a=None
print(a)

10
None

In [44]:
def f1():
    return 10
x= f1()
print(x)

10

In [ ]:
def f2():
    print("akhil")
y= f2()
print(type(y))

akhil
140705615087608
<class 'NoneType'>

In [48]:
a= None
print(id(a))
print(type(a))

140705615087608
<class 'NoneType'>

## Escape characters:-
- \n --> New line
- \t --> Horizontal tab
- \r --> Carriage return
- \b --> Back space
- \f --> form feed
- \' --> single quote
- \" --> double quote
- \\ --> Back slash

## Comments

In [49]:
#This is the single line comment