## Input and output statements:-
### Input
1. raw_input() it was not applicable for the python_3 vs input()
2. python_3 input()
3. How to read multiple values from the keyboard in a single line
4. Command line arguements

### Output
5. Output statement : print() function
6. sep attribute
7. end attribute
8. printing formatted string
9. Replacement operator : {}

In [1]:
#python 3x
#Only input()
#Always return str type only

x= input("Enter something")
print(type(x))

<class 'str'>

In [2]:
x=input("Enter 1st number")
y=input("Enter 2nd number")
i=(int(x))
j=int(y)
print("The Values of x and y", x, y)
print("the sum",i+j)

The Values of x and y 8 8
the sum 16

In [3]:
print("The sum =", int(input("Enter a number"))+ int(input("Enter another number")))

The sum = 16

In [ ]:
#Write a program to read employee data from the keyboard and print that data
eno= int(input("Enter the employee number"))
ename = input("Enter empoyee name")
esal = float(input("Enter the employee Salary"))
eaddr = input("Enter employee address")
print("Employee number =", eno, "Employee name =", ename, "Employee salary =", esal, "Employee address =", eaddr)

Employee number = 4 Employee name = akhil Employee salary = 900000.0 Employee address = hyd

In [5]:
#how to read multiple values from the keyboard in a single line
a,b = [int(x) for x in input("Enter two numbers").split()]
print("the sum =", a+b)

the sum = 10

In [6]:
#write a program to read 3 float values from the keyboard with "," seperation and print the sum
a,b,c = [float(x) for x in input("Enter 3 values").split(",")]
print("The sum = ", a+b+c, "The values are ", a,b,c)

The sum =  22.0 The values are  5.0 8.0 9.0

## eval()

In [12]:
x=eval(input("Enter something"))
print(type(x))
print(x)

<class 'int'>
60

## Output statements

### 1. print() without any argument

In [13]:
print("akhil")
print()
print("Renangi")

akhil

Renangi

In [14]:
#2. print(string)
print("akhil")
print("akhil\nrenangi")
print("akhil\trenangi")

akhil
akhil
renangi
akhil	renangi

In [15]:
#3
a,b,c = 10,20,30
print("The values are =", a,b,c)

The values are = 10 20 30

### 4. sep attribute

In [16]:
a,b,c,d=10,20,30,40
print(a,b,c,d)

10 20 30 40

In [17]:
print(a,b,c,d, sep=":")

10:20:30:40

### 5. end attribute

In [18]:
print("Hello", end=" ")
print("akhil", end=" ")
print("Renangi")

Hello akhil Renangi

In [19]:
print("Hello", end="::")
print("akhil", end="**")
print("Renangi")

Hello::akhil**Renangi

In [21]:
print(10,20,30,40, sep=":", end="***")
print(50,60,sep=":")
print(70,80,90, sep="**", end="$$")
print(100,110)

10:20:30:40***50:60
70**80**90$$100 110

### 6. print(object)

In [22]:
l=[10,20,30,40]
print(l)
t=(1,2,3,4)
print(t)

[10, 20, 30, 40]
(1, 2, 3, 4)

### 7. print() with replacement operator {}

In [23]:
name = "akhil"
salary = 120000
friend = "sasi"
print("Hello {}, your salary is {} and your friend {} is waiting".format(name, salary, friend))

Hello akhil, your salary is 120000 and your friend sasi is waiting

In [24]:
print("Hello {2}, your salary is {1} and your friend {0} is waiting".format(name, salary, friend))

Hello sasi, your salary is 120000 and your friend akhil is waiting

In [25]:
a,b,c,d=10,20,30,40
print("a={}, b={}, c={},d={}".format(a,b,c,d))

a=10, b=20, c=30,d=40

### print() with formated string
1. %i ---> signed decimal value
2. %d ---> signed decimal value
3. %f ---> float value
4. %s ---> string, any other objects list, set

In [26]:
a=10
print("a value is %i"%a)

a value is 10

In [27]:
a=10
b=20
c=30
print("a=%d, b=%i, c=%d"%(a,b,c))

a=10, b=20, c=30

In [28]:
name ="akhil"
marks =[10,20,30,40]
print("Hello %s, your marks list:%s"%(name,marks))

Hello akhil, your marks list:[10, 20, 30, 40]

In [33]:
price=70.56789
print("price value={}".format(price))
print("price value= %.2f"%(price))

price value=70.56789
price value= 70.57

----

## Python Flow Control

### if statemnent

In [34]:
name = input("Enter Name")
if name == "akhil":
    print("Hello Akhil, good morning")
print("How are you!")

Hello Akhil, good morning
How are you!

### if-else statement

In [37]:
name = input("Enter Name")
if name == "akhil":
    print("Hello Akhil, good morning")
else:
    print("Hello guest, good morning")
print("How are you!")

Hello guest, good morning
How are you!

### if-elif-else

In [38]:
brand = input("Enter your favourite brand")
if brand == "KF":
    print("It is childrens brand")
elif brand == "KO":
    print("It is to high")
elif brand == "RC":
    print("It is not that much kick")
elif brand == "FO":
    print("Buy one get One")
else:
    print("Other brands are not  recommended")

It is to high

In [39]:
#Write to find biggest of 2 given numbers
a= int(input("Enter a number"))
b= int(input("Enter a number"))
if a>b:
    print(f"{a} is bigger than {b}")
else:
    print(f"{b} is bigger")

6 is bigger than 5

In [40]:
#WAP to find biggest of 3 given numbers
a= int(input("Enter a number"))
b= int(input("Enter a number"))
c= int(input("Enter a number"))
if a>b and a>c:
    print(f"{a} is biggest")
elif b>c:
    print("biggest number:", b)

else:
    print("Biggest number",c)

biggest number: 7

In [20]:
n=7
for i in range(1,n+1):
    for j in range(1,i+1):
        star = j
        print(star, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [36]:
n=5
for i in range(n,0,-1):
    print("* "*(n-i+1))

*
* *
* * *
* * * *
* * * * *

In [30]:
for i in range(n):
    star="* "* (n-i)
    print(star)

* * * * *
* * * *
* * *
* *
*