## Tuple Data Structure
1. Order is applicable
2. Duplicates are allowed
3. Heterogeneous objects
4. Indexing and slicing
5. Immutable
6. ()

In [1]:
t=(10,20,"akhil", 10)
print(type(t))
print(id(t))
t= 10, 20, "akhil"
print(type(t))
print(id(t))

<class 'tuple'>
2057113580416
<class 'tuple'>
2057113817856

#### Creation of tuple object:-

##### 1. Empty tuple

In [2]:
t=()
print(type(t))

<class 'tuple'>

##### 2. Single valued tuple

In [3]:
t=10,
print(type(t))
t=(10,)
print(type(t))

<class 'tuple'>
<class 'tuple'>

##### 3. Multi valued tuple

In [4]:
t=(10,20,30,40)
print(type(t))
t=10,20,30
print(type(t))
t=(10,20,30,)
print(type(t))
t=10,20,30,
print(type(t))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

##### 4. By using tuple function

In [5]:
l=[1,2,3,4]
t=tuple(l)
print(t)
print(type(t))

(1, 2, 3, 4)
<class 'tuple'>

In [6]:
t=tuple(range(1,11,2))
print(type(t))
print(t)

<class 'tuple'>
(1, 3, 5, 7, 9)

In [7]:
t=tuple("akhil")
print(t)
print(type(t))

('a', 'k', 'h', 'i', 'l')
<class 'tuple'>

##### 5. With dynamic input

In [8]:
t= eval(input("Enter tuple"))
print(t)
print(type(t))

(1, 2, 3, 4, 0)
<class 'tuple'>

### Accessing elements of tuple

#### 1. By using index

In [9]:
t=(10,20,30,40,50)
print(t[0])
print(t[-1])
print(t[100])

10
50

IndexError: tuple index out of range

#### 2. By using slice operator
- Syntax ====> tuple[begin:end:step]
- Step value can be either +ve or -ve

- If step value is +ve then we have to consider forward direction(from left to right) from begin index to end-1 index
- If step value is -ve, then we have to consider backward direction(from right to left) from begin index to end+1 index

        Note:-
1. In forward direction if end value is 0 then result is always empty
2. In backward direction if end value is -1 then result is always empty
* Either forward direction or backward direction, we can take both +ve and -ve values for begin and end index

        In forward direction
- default value for begin : 0
- default value for end : len(tuple)
        In backward direction
- default value for begin : -1
- default value for end : -(len(tuple)+1)

In [10]:
t=(1,2,3,4,5,6,7)
print(t[2:5])
print(t[::2])

(3, 4, 5)
(1, 3, 5, 7)

### Mathematical operators for tuple
1. Concatination operator(+)
2. Repetition operator(*)

In [11]:
t1=(10,20,30)
t2=(40,50,60)
t3=t1+t2
print(t3)

(10, 20, 30, 40, 50, 60)

In [12]:
t3=t1+10

TypeError: can only concatenate tuple (not "int") to tuple

In [13]:
t3=t1+[10,20]

TypeError: can only concatenate tuple (not "list") to tuple

In [15]:
t3=t1+(1,2,4)
print(t3)

(10, 20, 30, 1, 2, 4)

In [16]:
t=(1,2,3)
t2= t*3
print(t2)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [17]:
t1=(10,20)
t2=(30,40)
t3=t1+t2
t4=t3*3
print(t4)

(10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40)

#### Equality operators for tuple
        ==, !==

1. No. of elements
2. Order of elements 
3. Content of elements

In [18]:
t1=("Cat", "Rat", "Dog")
t2=("Cat", "Rat", "Dog")
t3=('CAT', "RAT", "DOG")
T4 = ("Rat", "Dog", "Cat")
print(t1==t2)
print(t1==t3)
print(t1==t4)

True
False
False

#### Relational operators
        <,>, >=, <=

In [19]:
t1=(10,20,30)
t2=(30,15,40)
print(t1<t2)

True

In [ ]:
t1=(10,20,30)
t2=(10,5,70)
print(t1<t2)

False

In [22]:
t1=(10,20,30)
t2=(10,20,30,40)
print(t1<t2)

True

#### Membership operators
        in, not in

In [23]:
t=(10,20,30)
print(10 in t)
print(100 not in t)
print(60 in t)

True
True
False

#### Important Methods/Functions for tuple

##### 1. len()
- Returns no. of elements

In [ ]:
t=(10,20,30,40,50)
print(len(t))

5

##### 2. count()
- Returns no. of occurances of specified element

In [25]:
t= (1,1,2,2,2,3,4)
print(t.count(3))
print(t.count(1))
print(t.count(873))

1
2
0

##### 3. index()
- Returns Index of the first occurence of specified element

In [26]:
t=(10,20,30,40,1,3,4,10)
print(t.index(1))
print(t.index(29))

4

ValueError: tuple.index(x): x not in tuple

#### Reversing elements of tuple

In [27]:
t=(10,20,30,40,50,60)
r=reversed(t)
print(type(r))
t1 = tuple(r)
print(t)
print(t1)

<class 'reversed'>
(10, 20, 30, 40, 50, 60)
(60, 50, 40, 30, 20, 10)

#### Sorting of tuple

In [28]:
t= (1,20,10,15,0)
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [30]:
t= (1,20,10,15,0)
l=sorted(t)
print(type(l))
print(l)
t1=tuple(l)
print(t1)

<class 'list'>
[0, 1, 10, 15, 20]
(0, 1, 10, 15, 20)

#### max() and min() functions for tuple

In [31]:
t=(10,20,30,40,999,50)
print(max(t))
print(min(t))

999
10

#### tuple packing and unpacking

In [32]:
a=10
b=20
c=30
d=40
t=a,b,c,d
print(t)

(10, 20, 30, 40)

In [33]:
l=[a,b,c,d]
print(l)

[10, 20, 30, 40]

In [34]:
t=(10, 20, 30, 40)

a,b,c,d =t
print(a,b,c,d)

10 20 30 40

In [35]:
t=(10,20,30,40)
a,b,c =t

ValueError: too many values to unpack (expected 3)

In [36]:
t=(10,20,30,40)
a, *b=t
print(a,b)

10 [20, 30, 40]

#### tuple comprehesion

In [37]:
l= [x*x for x in range(1,6)]
print(l)

[1, 4, 9, 16, 25]

In [38]:
t=(x*x for x in range(1,6))
print(type(t))
print(t)

<class 'generator'>
<generator object <genexpr> at 0x000001DEF6E91930>

- list is unhashable
- tuple is hashable

In [41]:
import collections.abc
l=[10,20,30]
t=(10,20,30)
print(isinstance(l, collections.abc.Hashable))
print(isinstance(t, collections.abc.Hashable))

False
True

In [42]:
print(hash(t))

3952409569436607343

In [43]:
s={10,20}
l=[10,20,30]
t=(10,20,30)
s.add(t)
print(s)

{10, 20, (10, 20, 30)}

In [44]:
s.add(l)

TypeError: unhashable type: 'list'

In [45]:
d={}
l=[10,20,30]
t=(10,20,30)
d[t] = "A"
print(d)

{(10, 20, 30): 'A'}

In [46]:
d[l] = "B"

TypeError: unhashable type: 'list'

|   | List  | Tuple |
| - | ------- | ---- |
| 1 | List is a group of comma seperated values within square brackets and square brackets are mandatory<br>eg: l=[10,20,30,40] | Tuple is a group of comma seperated values within parenthesis and parenthesis is optional<br>eg: t=(10,20,30,40)<br>       t=10,20,30,40 |
| 2 | List objects are mutable, I.e., once we creates list object, we are allowed to change its content<br>l[1]=7777 #Valid  | Tuple objects are immutable, i.e., Once we creates tuple objects, we are not allowed to change its content.<br>T[1]=7777 #TypeError: tuple object does not support item assignment |
| 3 | List objects require more memory | Tuple objects require less memory |
| 4 | Speed is less for list object, i.e., performance is low | Speed is more for tuple object, i.e., performance is high |
| 5 | List is unhashable type and hence we cannot store inside the set and inside the dict as keys | Tuple is hashable type and hence we can store inside set and inside dict as keys |
| 6 | Comprehension concept is applicable for the list  | Comprehension concept is not applicable for tuple. If we are trying to apply we won't get tuple object and we will get generator object |
| 7 | If the content is not fixed and keep on changing then we should go for the list.<br>Eg: Youtube video comments | If the content is fixed and never changes then we should go for tuple <br>Eg: Allowed input values for vendor machine |

In [47]:
#Program to take a tuple of numbers from the keyboard and print its sum and average
t=eval(input("Enter tuple of numbers"))
sum=0
for i in t:
    sum= sum+i

print("Sum =", sum)
print("AVG =", sum/len(t))

Sum = 15
AVG = 3.0

------

------

## set data structure
1. Duplicates are not allowed
2. Order is not applicable
3.  Indexing & slicing concepts are not applicable
4. {10,20,30,40}
5. Heterogeneous objects
6. Mutable
7. Union, intersection, difference

In [1]:
s={}
print(type(s))

<class 'dict'>

In [2]:
s=set()
print(type(s))
print(s)
s.add(10)
s.add("2")
s.add("A")
s.add(20)
print(s)
print(type(s))

<class 'set'>
set()
{'A', 10, 20, '2'}
<class 'set'>

#### Creation  of set object

##### 1. Empty set:-

In [3]:
s=set()
print(type(s))

<class 'set'>

##### 2. If we have data already

In [4]:
s={1,2,3,4,5,6}
print(s)
print(type(s))

{1, 2, 3, 4, 5, 6}
<class 'set'>

##### 3. By using set() function

In [5]:
l=[10,20,30,40]
s=set(l)
print(s)
print(type(s))

{40, 10, 20, 30}
<class 'set'>

##### 4. range()

In [6]:
s=set(range(1,11))
print(s)
print(type(s))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

In [7]:
s= set("apple")
print(s)

{'a', 'l', 'e', 'p'}

##### Mathematical operators for set

In [8]:
s1 = {10,20,30}
s2={40,50,60}
s3=s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [9]:
s4=s1*3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [10]:
s1={10,20,30}
s2={30,10,20}
print(s1==s2)
print(s1!=s2)

True
False

##### Relational operators for set
        <,>,<=,>=

In [13]:
s1={10,20,30}
s2={20,10,5,6}
print(s1<s2)
print(s1<=s2)
print(s1>s2)
print(s1>=s2)

False
False
False
False

##### Membership
    in, not in

In [16]:
s={10,20,30,40}
print(10 in s)
print(100 in s)

True
False

##### Important functions and methods for set

1. len()
- Returns no. of elements present in set

In [17]:
s={1,2,3,4,5,6,78,0}
print(len(s))

8

2. add()

In [18]:
s={10,20,30,40}
s.add(50)
print(s)

{40, 10, 50, 20, 30}

3. update()
- To add multiple items to the set

In [19]:
s={10,20}
l=[30,40]
s.update(l)
print(s)

{40, 10, 20, 30}

In [20]:
s=set()
s.update(range(1,10))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

##### Differences between add() and update()

| add() | update |
|---|---|
| We can use add() method to add individual item to the set | We can use update() method to add multiple items to the set |
| add() mehtod can take only one argument | update() method can take any number of arguments, but all arguments should be iterable objects |

In [21]:
#Which of the following are valid
s.add(10)
s.add(10,20)

TypeError: set.add() takes exactly one argument (2 given)

In [22]:
s.update(10)

TypeError: 'int' object is not iterable

In [23]:
s=set()
s.update(range(1,10,2), range(0,10,2))
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

##### Remove elements from set
1. remove()

In [24]:
s={10,20,30,40}
s.remove(10)
print(s)

{40, 20, 30}

In [25]:
s.remove(100)

KeyError: 100

2. s.discard()

In [26]:
s={10,20,30,40}
s.discard(10)
print(s)
s.discard(50)
print(s
      )

{40, 20, 30}
{40, 20, 30}

3. pop()

In [27]:
s={10,20,30,40}
print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())

40
10
20
30

KeyError: 'pop from an empty set'

4. s.clear()

In [28]:
s={1,2,3,4}
s.clear()
print(s)

set()

##### Set specific methods for mathematical operations
1. union()

In [29]:
s1={10,20,30,40}
s2={30,40,50,60}
s3= s1.union(s2)
print(s3)

{40, 10, 50, 20, 60, 30}

In [30]:
s4=s1|s2
print(s4)

{40, 10, 50, 20, 60, 30}

2. intersection()

In [31]:
s1={10,20,30,40}
s2={30,40,50,60}
s3=s1.intersection(s2)
print(s3)

{40, 30}

In [32]:
s4= s1&s2
print(s4)

{40, 30}

3. difference()

In [33]:
s1={10,20,30,40}
s2={30,40,50,60}
s3= s1.difference(s2)
print(s3)

{10, 20}

In [34]:
s4= s1-s2
print(s4)

{10, 20}

5. symmetric difference()

In [35]:
s1={10,20,30,40}
s2={30,40,50,60}
s3=s1.symmetric_difference(s2)
print(s3)

{10, 50, 20, 60}

In [36]:
s4=s1^s2
print(s4)

{10, 50, 20, 60}

##### Aliasing and cloning

In [38]:
s1={10,20,30}
print(id(s1))
s2=s1
print(id(s2))

2056272355040
2056272355040

In [39]:
s3=s1.copy()
print(id(s3))

2056272349216

##### Set comprehension

In [40]:
s={x*x for x in range(1,6)}
print(s)

{1, 4, 9, 16, 25}

In [41]:
s={2*x for x in range(1,6)}
print(s)

{2, 4, 6, 8, 10}

In [42]:
#WAP to eliminate duplicates present in list
l=[1,1,2,2,3,4,5,6,5,3]
s=set(l)
print(s)
l1=list(s)
print(l1)

{1, 2, 3, 4, 5, 6}
[1, 2, 3, 4, 5, 6]

In [43]:
#2
l=[1,1,2,2,3,4,5,6,5,3]
l2=[]
for x in l:
    if x not in l2:
        l2.append(x)
print(l2)

[1, 2, 3, 4, 5, 6]

In [44]:
#WAP to print different vowels present in given word
s=input("Enter any to string to search for vowels")
s1=set(s)
v={'a','e','i','o','u'}
s3= s1.intersection(v)
print(s3)

{'a', 'e'}