## Tuple Data Structure
1. Order is applicable
2. Duplicates are allowed
3. Heterogeneous objects
4. Indexing and slicing
5. Immutable
6. ()

In [1]:
t=(10,20,"akhil", 10)
print(type(t))
print(id(t))
t= 10, 20, "akhil"
print(type(t))
print(id(t))

<class 'tuple'>
2057113580416
<class 'tuple'>
2057113817856

#### Creation of tuple object:-

##### 1. Empty tuple

In [2]:
t=()
print(type(t))

<class 'tuple'>

##### 2. Single valued tuple

In [3]:
t=10,
print(type(t))
t=(10,)
print(type(t))

<class 'tuple'>
<class 'tuple'>

##### 3. Multi valued tuple

In [4]:
t=(10,20,30,40)
print(type(t))
t=10,20,30
print(type(t))
t=(10,20,30,)
print(type(t))
t=10,20,30,
print(type(t))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

##### 4. By using tuple function

In [5]:
l=[1,2,3,4]
t=tuple(l)
print(t)
print(type(t))

(1, 2, 3, 4)
<class 'tuple'>

In [6]:
t=tuple(range(1,11,2))
print(type(t))
print(t)

<class 'tuple'>
(1, 3, 5, 7, 9)

In [7]:
t=tuple("akhil")
print(t)
print(type(t))

('a', 'k', 'h', 'i', 'l')
<class 'tuple'>

##### 5. With dynamic input

In [8]:
t= eval(input("Enter tuple"))
print(t)
print(type(t))

(1, 2, 3, 4, 0)
<class 'tuple'>

### Accessing elements of tuple

#### 1. By using index

In [9]:
t=(10,20,30,40,50)
print(t[0])
print(t[-1])
print(t[100])

10
50

IndexError: tuple index out of range

#### 2. By using slice operator
- Syntax ====> tuple[begin:end:step]
- Step value can be either +ve or -ve

- If step value is +ve then we have to consider forward direction(from left to right) from begin index to end-1 index
- If step value is -ve, then we have to consider backward direction(from right to left) from begin index to end+1 index

        Note:-
1. In forward direction if end value is 0 then result is always empty
2. In backward direction if end value is -1 then result is always empty
* Either forward direction or backward direction, we can take both +ve and -ve values for begin and end index

        In forward direction
- default value for begin : 0
- default value for end : len(tuple)
        In backward direction
- default value for begin : -1
- default value for end : -(len(tuple)+1)

In [10]:
t=(1,2,3,4,5,6,7)
print(t[2:5])
print(t[::2])

(3, 4, 5)
(1, 3, 5, 7)

### Mathematical operators for tuple
1. Concatination operator(+)
2. Repetition operator(*)

In [11]:
t1=(10,20,30)
t2=(40,50,60)
t3=t1+t2
print(t3)

(10, 20, 30, 40, 50, 60)

In [12]:
t3=t1+10

TypeError: can only concatenate tuple (not "int") to tuple

In [13]:
t3=t1+[10,20]

TypeError: can only concatenate tuple (not "list") to tuple

In [15]:
t3=t1+(1,2,4)
print(t3)

(10, 20, 30, 1, 2, 4)

In [16]:
t=(1,2,3)
t2= t*3
print(t2)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [17]:
t1=(10,20)
t2=(30,40)
t3=t1+t2
t4=t3*3
print(t4)

(10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40)

#### Equality operators for tuple
        ==, !==

1. No. of elements
2. Order of elements 
3. Content of elements

In [18]:
t1=("Cat", "Rat", "Dog")
t2=("Cat", "Rat", "Dog")
t3=('CAT', "RAT", "DOG")
T4 = ("Rat", "Dog", "Cat")
print(t1==t2)
print(t1==t3)
print(t1==t4)

True
False
False

#### Relational operators
        <,>, >=, <=

In [19]:
t1=(10,20,30)
t2=(30,15,40)
print(t1<t2)

True

In [ ]:
t1=(10,20,30)
t2=(10,5,70)
print(t1<t2)

False

In [22]:
t1=(10,20,30)
t2=(10,20,30,40)
print(t1<t2)

True

#### Membership operators
        in, not in

In [23]:
t=(10,20,30)
print(10 in t)
print(100 not in t)
print(60 in t)

True
True
False

#### Important Methods/Functions for tuple

##### 1. len()
- Returns no. of elements

In [ ]:
t=(10,20,30,40,50)
print(len(t))

5

##### 2. count()
- Returns no. of occurances of specified element

In [25]:
t= (1,1,2,2,2,3,4)
print(t.count(3))
print(t.count(1))
print(t.count(873))

1
2
0

##### 3. index()
- Returns Index of the first occurence of specified element

In [26]:
t=(10,20,30,40,1,3,4,10)
print(t.index(1))
print(t.index(29))

4

ValueError: tuple.index(x): x not in tuple

#### Reversing elements of tuple

In [27]:
t=(10,20,30,40,50,60)
r=reversed(t)
print(type(r))
t1 = tuple(r)
print(t)
print(t1)

<class 'reversed'>
(10, 20, 30, 40, 50, 60)
(60, 50, 40, 30, 20, 10)

#### Sorting of tuple

In [28]:
t= (1,20,10,15,0)
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [30]:
t= (1,20,10,15,0)
l=sorted(t)
print(type(l))
print(l)
t1=tuple(l)
print(t1)

<class 'list'>
[0, 1, 10, 15, 20]
(0, 1, 10, 15, 20)

#### max() and min() functions for tuple

In [31]:
t=(10,20,30,40,999,50)
print(max(t))
print(min(t))

999
10

#### tuple packing and unpacking

In [32]:
a=10
b=20
c=30
d=40
t=a,b,c,d
print(t)

(10, 20, 30, 40)

In [33]:
l=[a,b,c,d]
print(l)

[10, 20, 30, 40]

In [34]:
t=(10, 20, 30, 40)

a,b,c,d =t
print(a,b,c,d)

10 20 30 40

In [35]:
t=(10,20,30,40)
a,b,c =t

ValueError: too many values to unpack (expected 3)

In [36]:
t=(10,20,30,40)
a, *b=t
print(a,b)

10 [20, 30, 40]

#### tuple comprehesion

In [37]:
l= [x*x for x in range(1,6)]
print(l)

[1, 4, 9, 16, 25]

In [38]:
t=(x*x for x in range(1,6))
print(type(t))
print(t)

<class 'generator'>
<generator object <genexpr> at 0x000001DEF6E91930>

- list is unhashable
- tuple is hashable

In [41]:
import collections.abc
l=[10,20,30]
t=(10,20,30)
print(isinstance(l, collections.abc.Hashable))
print(isinstance(t, collections.abc.Hashable))

False
True

In [42]:
print(hash(t))

3952409569436607343

In [43]:
s={10,20}
l=[10,20,30]
t=(10,20,30)
s.add(t)
print(s)

{10, 20, (10, 20, 30)}

In [44]:
s.add(l)

TypeError: unhashable type: 'list'

In [45]:
d={}
l=[10,20,30]
t=(10,20,30)
d[t] = "A"
print(d)

{(10, 20, 30): 'A'}

In [46]:
d[l] = "B"

TypeError: unhashable type: 'list'

|   | List  | Tuple |
| - | ------- | ---- |
| 1 | List is a group of comma seperated values within square brackets and square brackets are mandatory<br>eg: l=[10,20,30,40] | Tuple is a group of comma seperated values within parenthesis and parenthesis is optional<br>eg: t=(10,20,30,40)<br>       t=10,20,30,40 |
| 2 | List objects are mutable, I.e., once we creates list object, we are allowed to change its content<br>l[1]=7777 #Valid  | Tuple objects are immutable, i.e., Once we creates tuple objects, we are not allowed to change its content.<br>T[1]=7777 #TypeError: tuple object does not support item assignment |
| 3 | List objects require more memory | Tuple objects require less memory |
| 4 | Speed is less for list object, i.e., performance is low | Speed is more for tuple object, i.e., performance is high |
| 5 | List is unhashable type and hence we cannot store inside the set and inside the dict as keys | Tuple is hashable type and hence we can store inside set and inside dict as keys |
| 6 | Comprehension concept is applicable for the list  | Comprehension concept is not applicable for tuple. If we are trying to apply we won't get tuple object and we will get generator object |
| 7 | If the content is not fixed and keep on changing then we should go for the list.<br>Eg: Youtube video comments | If the content is fixed and never changes then we should go for tuple <br>Eg: Allowed input values for vendor machine |

In [47]:
#Program to take a tuple of numbers from the keyboard and print its sum and average
t=eval(input("Enter tuple of numbers"))
sum=0
for i in t:
    sum= sum+i

print("Sum =", sum)
print("AVG =", sum/len(t))

Sum = 15
AVG = 3.0